* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #625e69;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container {
    margin: 0 auto;
    padding-inline: 128px;
}

.hamburger {
    width: 35px;
    cursor: pointer;
    background: none;
    border: none;
}

.hamburger .bar {
    background-color: red;
    display: block;
    width: 100%;
    height: 5px;
    margin: 6px 0px;
    transition: 0.3s
        /*animation when clicked*/
}

.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.3s
        /*animation when clicked*/
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 90;
    background-color: #12002F;
    padding-top: 120px;
    transition: 0.2s
}

.mobile-nav.is-active {
    left: 0;
    /*snaps right into the left side*/
}

.mobile-nav a {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    /*center links*/
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    background-color: #e97210;
    color: #000000;
    text-decoration: none
}

.mobile-nav a:hover {
    background-color: #a89ac7
}

header .container {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container h2 {
    color: #48fd51;
    font-size: 32px;
}

header .container nav {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, auto)
}

header .container nav a {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
}

/*MEDIA QUERIES*/
@media (max-width: 1024px) {
    .container {
        padding-left: 64px;
        padding-right: 64px
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 32px;
        padding-right: 32px
    }
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none
    }

    .hamburger {
        display: none
    }
}

@media (max-width: 767px) {
    header .container nav {
        display: none
    }
}